.button {
    background-color: blue 
}

nav#nav div.wrap-div .button {
    background-color: tomato;
}

a {
    background-color: orange !important;
}

#nav a.button:hover {
    background-color: yellow;
}